body {
    font-family: "Times New Roman", "SimSun", "宋体", serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 1.7;
}

/*-apple-system, Avenir Next, */

code {
  font-family: 'Menlo', 'Monaco', 'Courier New',  'Courier', monospace;
  font-size: 14px;
}
